html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
  height: 100vh;
  background-image: url(/img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper{
  margin: 0 150px;
}

header a{
  color: black;
  font-size: 20px;
}

header a:hover{
  color: #365494;
}

.header_ul{
  display: flex;
  list-style: none;
}

.header_ul li a{
  text-decoration: none;
}

.header_ul li{
  margin-right: 40px;
}

.tel{
  text-decoration: none;
  font-size: 35px;
  margin-left: auto;
  color: white;
}

nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 50px;
  letter-spacing: 0.1em;
}

.h1_nav{
  font-size: 40px;
  font-weight: 500;
  margin-right: 100px;
}

.header_preview h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.header_preview p{
  font-size: 24px;
  margin-bottom: 100px;
}

.button_header{
  display: block;
  align-items: center;
  border-radius: 40px;
  border: 0;
  width: 180px;
  height: 65px;
  background-color: #4E92C3;
}

.button_header a{
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-weight: 200;
}

.header_preview{
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

h2{
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}

h3{
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hr_1{
  border: 0;
  background-color: black;
  height: 2px;
  margin-bottom: 40px;
  margin-top: 50px;
}


.grid_price{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 250px;
}

.column{
  flex: 1;
  min-height: 300px;

}

ul{
  list-style: none;
}

li{
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
  line-height: 1.2;
  font-size: 26px;
}

.service-name{
  display: inline;
  background-color: white;
  padding-right: 5px;
  position: relative;
  z-index: 2;
}

.service-price{
  float: right;
  background-color: white;
  padding-left: 5px;
  position: relative;
  z-index: 2;
}

.li_price::after{
  content: "............................................................................................................";
  z-index: 1;
  color: black;
  position: absolute;
  left: 0;
  right: 0;

}

.germet{
  margin: 10px 400px;
}

.hr_2{
  margin-top: 30px;
  margin-bottom: 0;
  border: 0;
  height: 2px;
  background-color: black;
}

.hr_3{
  border: 0;
  height: 630px;
  width: 2px;
  background-color: black;
  margin: 0 125px;
}

.tryb_can{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.hr_4{
  margin-top: 50px;
  margin-bottom: 0;
  height: 2px;
  background-color: black;
  border: 0;
}

.price_end{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.hr_5 {
  width: 2px;
  height: 450px;
  margin: 0 125px;
  background-color: black;
  border: 0;
}

.hr_6{
  border: 0;
  background-color: black;
  height: 2px;
  margin-bottom: 40px;
}

.zag_work_image{
  display: flex;
  font-size: 50px;
  justify-content: center;
  max-height: 60px;
  margin-bottom: 50px;
}

.grid_img{
  display: grid;
  grid-template-columns: repeat(4, 1fr) 325px;
  grid-template-rows: repeat(3, 1000px);
  row-gap: 10px;
}

.img_1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1 / 2;
}

.img_2{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 1 / 2;
  margin-left: 5px;
}

img{
  border-radius: 50px;
}

.img_3{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2 / 3;
}

.img_4{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 2 /3;
  margin-left: 5px;
}

.img_5{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3 / 4;
}

.img_6{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 3 / 4;
  margin-left: 5px;
}

.last{
  margin-top: 100px;
}

.h1_last_section{
  text-align: center;
  font-size: 50px;
}

.h3_last_section{
  text-align: center;
  font-size: 35px;
  width: 1000px;
  margin: 50px auto 0;
  padding: 0;
}

.galochka{
  width: 100px;
  height: 100px;
}

.top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.top_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.top_3{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.top_4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

footer {
  background-color: #D9D9D9;
  margin-top: 50px;
  padding-bottom: 80px;
  padding-top: 20px;
}

.footer_h1{
  font-size: 50px;
  text-align: center;
  margin: 30px 0;
}

.footer_p{
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.tel_2{
  font-size: 50px;
  text-decoration: none;
  color: #000;
}

.tel_2:hover{
  color: #6e1515;
}

.tel_footer{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}


